<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackVerse"
        tools:targetApi="31">
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="$com.example.hackverse.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ReminderBroadcast"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Information"
            android:exported="false" />
        <activity
            android:name=".MyHackathons"
            android:exported="false" />
        <activity
            android:name=".DetailsRegistration"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditHackathon"
            android:exported="false" />
        <activity
            android:name=".HackathonPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hackverse.page.link"
                    android:pathPrefix="/hackathon"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPage"
            android:exported="false"
            android:theme="@style/Theme.HackVerse.NoActionBar1" />
        <activity
            android:name=".Homepage"
            android:exported="false"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.HackVerse.NoActionBar" />
        <activity
            android:name=".SignUpPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".opening"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>